body {
    box-sizing: border-box;
    background-color: #f7f7f7;
    margin: auto;
    display: flex;
    justify-content: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

form {
    height: 400px;
    width: 400px;
    padding: 20px;
    margin: 100px 100px;
    border: 1px solid gray;
    background-color: #e5e5e5;
}

#email {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

#password {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

button {
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    font-size: large;
}

a:visited,
button:visited {
    color: rgb(0, 0, 0);
}

button:hover {
    background-color: #778da9;
    cursor: pointer;
}