* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(6, 6, 27);
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15rem 15rem 15rem 28rem;

}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    grid-template-areas:
        'a b'
        'c d'
        'c e'
    ;
    height: 220px;
    width: 460px;
}

.orange {
    background-color: orangered;
    height: 60px;
    grid-area: a;
    grid-column-start: 1;
    grid-column-end: 3;
}

.light-orange {
    background-color: orange;
    height: 60px;
    grid-area: b;
    grid-column-start: 3;
    grid-column-end: 4;
}

.green {
    background-color: green;
    grid-area: c;
    height: 140px;
}

.blue {
    background-color: hsla(216, 98%, 56%, 0.87);
    grid-area: d;
    height: 60px;
    grid-column-start: 2;
    grid-column-end: 4;
}

.second-blue {
    background-color: hsla(216, 98%, 56%, 0.87);
    grid-area: e;
    height: 60px;
    grid-column-start: 2;
    grid-column-end: 4;
}